body{
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    font-family:inter_regular,fallback-inter_regular,Arial,sans-serif;
}

#nav{
    width: 100%;
    height: 2vh;
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}
#nav a{
    color: black;
    text-decoration: none;
}
#nav a:hover{
    color: black;
    text-decoration: underline;
}
#nav>div>input{
    height: 4vh;
    width: 30vw;
    border-radius: 5%;
    background-color: aliceblue;
    border: 0px;
    font-size: large;
    font-weight: 300;
}
#nav>div>button{
    height: 3vh;
    width:2vw;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#nav>div>button>img{
    height: inherit;
    width:inherit;
}
#nav>div>img{
    height: 3vh;
    width: 2vw;
}
#nav>div{
    margin-left: 4vw;
    margin-right: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#a{
    height: 7vh;
}

#menu{
    background-color: white;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
#menu>div{
    height: fit-content;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu>div>img{
    height: 7vh;
    width: 4.5vw;
}
#menu>div>p{
    font-weight:600;
    font-size: smaller;
}

.offers{
    margin-top: 1.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.offers>img{
    width: 100%;
}

#bestmobile{
    display:flex;
    flex-direction: row;
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
}
#bestmobile>div{
    display: flex;
    flex-direction: column;
}
#a1{
    display: flex;
    flex-direction: row;
    /* max-width:900px; */
}
#a1>div{
    border: solid 1px;
    border-color: rgb(211, 208, 208);
    padding: 1.5vh;
    margin:0.2vw;
}
#a1>div>img{
    height: 23vh;
    width: 13.8vw;
}
#a2>img{
    height: 46vh;
    width:31vh;
}
#best-mob-head{
    margin-left: 1vh;
    margin-top: 1vh;
    font-size: larger;
    font-weight: 150;
}

.deals{
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.deals>img{
    height: 30vh;
    width: 45vw;
    margin: 5px;
}

#b{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin:1vh;
    font-family: sans-serif;
}
#b1{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin:5px;
    
}
#b1>p{
    margin:3vh;
    font-size: large;
    font-weight:600;
}
#b1>div{
    display: flex;
    flex-direction: row;
}
#b1>div>div{
    border: solid 1px;
    border-color: rgb(210, 208, 208);
    margin: 5px;
    padding: 1vh;
}
#b1 img{
    height: 25vh;
    width: 14.5vw;
}
#b2>img{
    width: 65vw;
    height: 83vh;
}
#b b{
    color: green;
    margin: 0px;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: white;
    font-size:1.8vh;
}

footer>div{
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

footer>div>div{
    display: flex;
    flex-direction: row;
    font-size: smaller;
}

#f1{
    display: flex;
    flex-direction: row;
}
#f1 p{
    color: rgb(83, 83, 83);
}
#f1>div{
    width: 10vw;
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
}
#f1>div>div{
    display: flex;
    flex-direction: column;
}
hr{
    color: rgb(160, 160, 160);
    width: 100%;
    height: 0.1px;
}
#vr{
    width: 5vw;
    border-left: solid 1px rgb(199, 197, 197);
}
#f2{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#f2>div{
    
    margin-right: 3vw;
    margin-left: 2vw;

}
footer p{
    color: white;
    font-weight: lighter;
}
#f1 a{
    font-weight: 600;
    color: white;
    text-decoration: none; 
    margin-bottom: 2px;
}
#f2 a{
    color: white;
    text-decoration: none;    
}
footer a:hover{
    color: white;
    text-decoration-line: underline;
}
#f3>div>p{
    color: rgb(83, 83, 83);
}
#f3>div{
    width: 12vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
#para{
    font-family:inter_regular,fallback-inter_regular,Arial,sans-serif;
    margin-left: 2vw;
    margin-right: 2vw;
    font-weight: lighter;
    color: rgb(141, 139, 139);
    font-size: small;
}

